@model TrainingDBase5ticg3.ViewModels.PersonasVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="container-fluid">
    <div class="row">
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="card-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

                        <div class="form-group ">
                            <label>Nombre:</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Apellido Paterno:</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ApellidoPaterno, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.ApellidoPaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Apellido Materno:</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ApellidoMaterno, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.ApellidoMaterno, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            <label>Edad</label>
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Edad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Edad, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="form-group">
                            
                                <label class="control-label">
                                    Profesiones:
                                </label>
                            
                            <div class="col-md-12">
                                @Html.DropDownList("Profesiones", null,
                                new
                                     {
                                         @class = "form-control input-sm",
                                id = "IdProfesiones"
                                     })
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-horizontal">
    <h4>PersonasVM</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
  
      
   
    <div class="form-group">
        @Html.LabelFor(model => model.TelefonoVM.NumeroCelular, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TelefonoVM.NumeroCelular,
           new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TelefonoVM.NumeroCelular, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DireccionVM.Calle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DireccionVM.Calle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DireccionVM.Calle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DireccionVM.NumInterior, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DireccionVM.NumInterior, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DireccionVM.NumInterior, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DireccionVM.NumExterior, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DireccionVM.NumExterior, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DireccionVM.NumExterior, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="tablaProfesionesContainer" class="col-md-12" style="display: none;">
                <h4>Profesiones Seleccionadas</h4>
                <table class="table table-bordered" id="tablaProfesiones">
                    <thead>
                        <tr>
                            <th>Profesión</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $(document).ready(function () {
        $('#IdProfesiones').change(function () {
            let selectedText = $("#IdProfesiones option:selected").text();
            let selectedValue = $("#IdProfesiones").val();

            if (selectedValue) {
                if ($(`#tablaProfesiones tbody tr[data-id='${selectedValue}']`).length === 0) {
                    let row = `<tr data-id="${selectedValue}"><td>${selectedText}</td>
                                <td><button type="button" class="btn btn-danger btn-sm" onclick="eliminarFila(${selectedValue})">Eliminar</button></td></tr>`;
                    $('#tablaProfesiones tbody').append(row);
                    $('#tablaProfesionesContainer').show();
                }
            }
        });
    });

    function eliminarFila(id) {
        $(`#tablaProfesiones tbody tr[data-id='${id}']`).remove();
        if ($('#tablaProfesiones tbody tr').length === 0) {
            $('#tablaProfesionesContainer').hide();
        }
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
